<!doctype html>
<html>
<head>
    <title>Movie Recommendations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/materialize.min.css" />
</head>
<body>
    <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Demo Movie Recommender</h1>
        <div class="row center">
            <h5 class="header col s12 light">Powered by recommendation platform (POC)</h5>
        </div>
        <div class="row center">
            <a href="/movies" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <div class="row center">
            <a href="/user" class="teal-text">View recommendations for a user</a>
        </div>
    </div>
</body>
</html>
