<!doctype html>
<html>

<head>
    <title>Movie Recommendations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="../public/stylesheets/clear.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../public/stylesheets/component.css" /> -->
    <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/materialize.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
</head>

<body>
    <div class="container">
        <br>
        <br>
        <h1 class="header center teal-text text-lighten-2">Demo Movie Recommender </h1>
        <div class="row center">
            <h5 class="header col s12 light">A Movie recommendation system using collaborative filtering</h5>
        </div>
        <div class="row center">
            <a href="/rating" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
    </div>
</body>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->

</html>
<!-- made by Alaf azam khan -->
